<section>
    <h1>Seprate presentation and rendering logic</h1>
    <span [addAttribute]='"highlight"'>This gonna be red</span>
</section>

<br>
<section id="removeDom">
    <h1>Remove DOM section</h1>
    <button (click)="remove()">Remove child compoent</button>
    <ng-template #ta>
        <app-a #aCp></app-a>
    </ng-template>
    <ng-template #tb>
        <app-b #bCp></app-b>
    </ng-template>
    <ng-container #ctn></ng-container>
</section>
<section>
    <h1>Dynamicly add compoent</h1>
    <button (click)="show('c')"> Show C component</button>
    <button (click)="show('d')"> Show D component</button>
</section>